{include file="layout/header" /}
  
  <body >
  <div class="x-nav" >

      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
          <i class="layui-icon" style="line-height:30px">ဂ</i></a>
  </div>
  <div class="layui-container">
      <div class="layui-row">
          <div class="layui-col-md6 layui-col-md-offset1">
              <!-- 此扩展能递归渲染一个权限树，点击深层次节点，父级节点中没有被选中的节点会被自动选中，单独点击父节点，子节点会全部 选中/去选中 -->
              <form class="layui-form" method="post" >
                  <div class="layui-form-item">
                      <label class="layui-form-label">角色名称</label>
                      <div class="layui-input-block">
                          <input class="layui-input" type="text" name="title" placeholder="请输入角色名称" />
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label class="layui-form-label">启用状态</label>
                      <div class="layui-input-block">
                          <input class="layui-input" type="radio" name="status" value="1" title="启用" />
                          <input class="layui-input" type="radio" name="status"  value="0" title="未启用"/>
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label class="layui-form-label">选择权限</label>
                      <div class="layui-input-block">
                          <div id="LAY-auth-tree-index">
                              <input type="checkbox" name="authids[]" />
                          </div>
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <div class="layui-input-block">
                          <input class="layui-btn" type="submit" value="提交">
                          <input class="layui-btn layui-btn-primary" type="reset" value="重置">
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>

    <script>
        layui.config({
            base: '__BACK__/lib/layui/extends/',
        }).extend({
            authtree: 'authtree',
        });
        layui.use(['jquery', 'authtree'], function(){
            var $ = layui.jquery;
            var authtree = layui.authtree;
            $.ajax({
                url: "{:url('role/roleList',['type'=>'add'])}",
                dataType: 'json',
                success: function(data){
                    // 渲染时传入渲染目标ID，树形结构数据（具体结构看样例，checked表示默认选中），以及input表单的名字
                    authtree.render('#LAY-auth-tree-index', data.data.trees, 'authids[]');
                    // 监听自定义lay-filter选中状态，PS:layui现在不支持多次监听，所以扩展里边只能改变触发逻辑，然后引起了事件冒泡延迟的BUG，要是谁有好的建议可以反馈我
                    form.on('checkbox(lay-check-auth)', function(data){
                        // 注意这里：需要等待事件冒泡完成，不然获取叶子节点不准确。
                        setTimeout(function(){
                            // 获取选中的叶子节点
                            var leaf = authtree.getLeaf('#LAY-auth-tree-index');
                            console.log(leaf);
                        }, 100);
                    });
                }
            })
        });
    </script>




  </body>

</html>