{include file="layout/header" /}

<body>
<div class="x-body">
    <form class="layui-form" enctype="multipart/form-data"  method="post" action="" >
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                <span class="x-red">*</span>商品名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_email" name="goodsName"    
                       autocomplete="off" class="layui-input">
            </div>

        </div>
        <div class="layui-form-item">
        <label for="L_email" class="layui-form-label">
            <span class="x-red">*</span>商品编号
        </label>
        <div class="layui-input-inline">
            <input type="text"  name="goodsNo"
                   autocomplete="off" class="layui-input">
        </div>

        </div>
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                <span class="x-red">*</span>是否上架
            </label>
            <div class="layui-input-inline">
                <input type="text"  name="isSale"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                1-表示上架 0-表示下架
            </div>

        </div>
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                <span class="x-red">*</span>是否热销
            </label>
            <div class="layui-input-inline">
                <input type="text"  name="isHot"     
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                1-表示热销 0-表示不热销
            </div>

        </div>

        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                <span class="x-red">*</span>市场价格
            </label>
            <div class="layui-input-inline">
                <input type="text"  name="marketPrice"     
                       autocomplete="off" class="layui-input">
            </div>

        </div>

        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                <span class="x-red">*</span>本店价格
            </label>
            <div class="layui-input-inline">
                <input type="text"  name="shopPrice"     
                       autocomplete="off" class="layui-input">
            </div>

        </div>

        <div class="layui-form-item">
            <label for="L_username" class="layui-form-label">
                <span class="x-red">*</span>商品图片
            </label>
            <div class="layui-input-inline">
                <input type="file" id="L_username" name="goodsImg"    lay-verify="nikename"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
                <span class="x-red">*</span>商品价格
            </label>
            <div class="layui-input-inline">
                <input type="text" name="goodsPrice"    lay-verify="repass"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
                <span class="x-red">*</span>商品描述
            </label>
            <div class="layui-input-inline">
                <script id="editor" type="text/plain" style="width:800px;" name="goodsDesc"></script>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <input  type="submit" class="layui-btn" lay-filter="add" lay-submit=""  value="添加">

        </div>
    </form>
</div>
<script>

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');
</script>

</body>

</html>