<body>
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>商品管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('goods/goodsList')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商品列表</cite>

                        </a>
                    </li >
                    <li>
                        <a _href="{:url('goods/goodsAdd')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商品添加</cite>

                        </a>
                    </li >


                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>商品分类</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('category/cateList')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商品分类列表</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('category/cateAdd')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商品分类添加</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe726;</i>
                    <cite>管理员管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('admin/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>管理员列表</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('role/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>角色列表</cite>
                        </a>
                    </li >
                    <!--<li>-->
                        <!--<a _href="{:url('privileges/privi_list')}">-->
                            <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--<cite>权限分类</cite>-->
                        <!--</a>-->
                    <!--</li >-->
                    <li>
                        <a _href="{:url('privileges/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>权限列表</cite>
                        </a>
                    </li >
                </ul>
            </li>

        </ul>
    </div>
</div>
